<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788440978257-q03rolsl15des5odlllbf4546mun74s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788440978257-q03rolsl15des5odlllbf4546mun74s6</string>
	<key>API_KEY</key>
	<string>AIzaSyBhjzZgRPS-1UjsXFDcZZB9SYjhXMm_bl8</string>
	<key>GCM_SENDER_ID</key>
	<string>788440978257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teo.moneybook</string>
	<key>PROJECT_ID</key>
	<string>where-is-our-money-8c013</string>
	<key>STORAGE_BUCKET</key>
	<string>where-is-our-money-8c013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788440978257:ios:a471c444b4a86a6972b970</string>
	<key>DATABASE_URL</key>
	<string>https://where-is-our-money-8c013-default-rtdb.firebaseio.com</string>
</dict>
</plist>